<h2 mat-dialog-title>
  {{ data.title || 'Авторизация'}}
</h2>

<mat-dialog-content>

    <mat-form-field>
      <input matInput
             type="text"
             placeholder="Номер телефона"
             prefix="+7 "
             mask="(000) 000 00 00"
             [formControl]="phone"
             (keyup.enter)="sendSMS()" >
      <mat-error *ngIf="phone.invalid">
        Заполните номер +7 (ХХХ) ХХХ ХХ ХХ
      </mat-error>
    </mat-form-field>

    <button mat-button
            class="button-sms"
            [disabled]="isSMSed || isSMSing"
            (click)="sendSMS()">
      <ng-container [ngSwitch]="isSMSing">
        <span *ngSwitchCase="false">Получить смс</span>
        <div class="cssload-clock"
             *ngSwitchCase="true"></div>
      </ng-container>
    </button>

    <div class="sms-hint" *ngIf="isSMSed">
      Смс отправлено и должно прийти в течении 3 минут
    </div>

    <mat-form-field>
      <input matInput
             #codeInput
             placeholder="Код из смс"
             [formControl]="code"
             mask="000 000"
             (keyup.enter)="verifyLogin()" >
      <mat-error *ngIf="code.invalid">
        Неверный код
      </mat-error>
    </mat-form-field>

    <button mat-button
            class="button-sms"
            [disabled]="!isSMSed || isVerifiengCode"
            (click)="verifyLogin()">
      <ng-container [ngSwitch]="isVerifiengCode">
        <span *ngSwitchCase="false">Войти</span>
        <div class="cssload-clock"
             *ngSwitchCase="true"></div>
      </ng-container>
    </button>

</mat-dialog-content>
