:host {
  width: 20rem;

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }

  mat-card-footer {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 0;

    .members-list {

    }
  }
}
