<div class="quest-container">
  <div class="quest-definition">
      25
      <br>
      25
  </div>
  <div class="quest-answer">
      <tr>
        <td *ngFor="let cell of cells">
          <input type="text" [value]="cell">
        </td>
      </tr>
    <tr>
      <td *ngFor="let cell of cells">
        <input type="text" [value]="cell">
      </td>
    </tr>
  </div>
  <div class="quest-credit">
    by {{ credit }}
  </div>
  <div class="actions">
    <button mat-icon-button>
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </div>
</div>
