<ng-progress></ng-progress>

<div id="recaptcha-container"></div>

<app-spinner *ngIf="loading; else App"
             class="empty"></app-spinner>

<ng-template #App>
  <div class="example-container"
       [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary"
                 class="example-toolbar">
      <button mat-icon-button
              *ngIf="mobileQuery.matches"
              (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <h1 class="example-app-name">Встречи & Weiqi</h1>

      <button mat-flat-button
              *ngIf="!(user$ | async)"
              (click)="openLoginDialog()">
        <mat-icon>account_box</mat-icon>
        <span>Войти</span>
      </button>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav
                   [opened]="!mobileQuery.matches"
                   [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="56">
        <mat-nav-list>
          <ng-container *ngIf="(user$ | async) as user">
            <div class="userName">
              <mat-icon>account_circle</mat-icon>
              {{ user.displayName }}
            </div>

            <mat-divider></mat-divider>
          </ng-container>

          <a mat-list-item
             routerLink="/"
             [routerLinkActive]="'active'">
            Будущие
          </a>
          <a mat-list-item
             routerLink="/"
             [queryParams]="{ filter: 'old' }"
             [routerLinkActive]="'active'">
            Прошедшие
          </a>

          <a mat-list-item
             *ngIf="(user$ | async)"
             routerLink="/"
             [queryParams]="{ filter: 'me' }"
             [routerLinkActive]="'active'">
            Мои
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item
             routerLink="/meeting/add"
             [routerLinkActive]="'active'">
            Создать встречу
          </a>

          <mat-divider></mat-divider>

          <a mat-list-item
             *ngIf="(user$ | async)"
             routerLink="/user"
             [routerLinkActive]="'active'">
            Настройки
          </a>
        </mat-nav-list>

        <button class="exitBtn"
                *ngIf="(user$ | async)"
                mat-flat-button
                (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Выйти</span>
        </button>
      </mat-sidenav>

      <mat-sidenav-content class="container">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-template>



