<div class="example-container"
     [class.example-is-mobile]="mobileQuery.matches">
  <div id="sign-in-button"></div>
  <mat-toolbar color="primary"
               class="example-toolbar">
    <button mat-icon-button
            *ngIf="mobileQuery.matches"
            (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="example-app-name">Встречи & Weiqi</h1>

    <div class="user"
         *ngIf="(user$ | async) as user; else IsLogOut">
      <p>{{ user.displayName }}</p>
      <button mat-flat-button
              (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Выйти</span>
      </button>
    </div>

    <ng-template #IsLogOut>
      <button mat-flat-button
              (click)="login()">
        <mat-icon>account_box</mat-icon>
        <span>Войти</span>
      </button>
    </ng-template>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav
                 [opened]="!mobileQuery.matches"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item
           routerLink="/"
           [routerLinkActive]="'active'">
          Будущие
        </a>
        <a mat-list-item
           routerLink="/"
           [queryParams]="{ filter: 'old' }"
           [routerLinkActive]="'active'">
          Прошедшие
        </a>
        <a mat-list-item
           routerLink="/"
           [queryParams]="{ filter: 'me' }"
           [routerLinkActive]="'active'">
          Мои
        </a>

        <a mat-list-item
           routerLink="/user"
           [routerLinkActive]="'active'">
          Настройки
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

